version: '3.8'

services:
  node_app:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env

  rainmaker_orchestrator:
    build:
      context: ./rainmaker_orchestrator
    ports:
      - "8000:8000"
    env_file:
      - .env
